{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container content my-4 mt-4">
  <h2 class="text-center">Contact Us</h2>
  <p>If you have any questions, comments, or suggestions, feel free to reach out to us using the form below:</p>
  
  <form class="contact-form" method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="submit-btn">Send Message</button>
  </form>
  
</div>

{% block extra_css %}
    <style>
        /* Specific Styles for Home Page */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-image: url("{% static 'assets/home-page.png' %}");
        }
        .content {
        flex: 1;
        padding: 60px 20px;
        color: black;
        background: white;
        margin: 30px auto;
        border-radius: 15px;
        max-width: 1000px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }
      h2 {
        font-size: 32px;
        color: black;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 15px;
        color: black;
      }

      /* Custom Styles for Form Elements */
      .custom-input {
          border-radius: 8px;
          border: 1px solid #ccc;
          padding: 10px;
          font-size: 16px;
          margin-bottom: 15px;
          transition: border-color 0.3s ease-in-out;
      }

      .custom-input:focus {
          border-color: #52ab98;
          outline: none;
      }

      .custom-textarea {
          border-radius: 8px;
          border: 1px solid #ccc;
          padding: 10px;
          font-size: 16px;
          margin-bottom: 15px;
          transition: border-color 0.3s ease-in-out;
          height: 150px;
      }

      .custom-textarea:focus {
          border-color: #52ab98;
          outline: none;
      }

      /* Add some specific margin or padding to the form itself */
      .contact-form {
          margin-top: 20px;
      }

      .submit-btn {
        background-color: #52ab98;
        color: white;
        padding: 12px 30px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
      }
      .submit-btn:hover {
        background-color: #3d8d80;
        transform: scale(1.05);
      }

      /* Responsive Styling */
      @media (max-width: 768px) {
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
    </style>
{% endblock %}
{% endblock content %}
