{% extends 'base.html' %}

{% load static %}

{% block title %}Developer{% endblock %}

{% block content %}
<div class="container content my-4 mt-4">
  <h2 class="text-center">Meet Our Developers</h2>

  <!-- Developer 1 -->
  <div class="developer-card d-flex align-items-center">
    <img src= "{% static 'assets/Asim.jpg' %}" alt="Asim" class="developer-img">
    <div>
      <h5>Asim Ghimire</h5>
      <p><strong>Backend Developer</strong><br>Specializes in backend development and machine learning models.</p>
    </div>
  </div>

  <!-- Developer 2 -->
  <div class="developer-card d-flex align-items-center">
    <img src="{% static 'assets/sudeen.jpg' %}"  alt="Sudin" class="developer-img">
    <div>
      <h5>Sudin Bohara</h5>
      <p><strong>Frontend Developer</strong><br>Expert in creating engaging user interfaces.</p>
    </div>
  </div>

  <!-- Developer 3 -->
  <div class="developer-card d-flex align-items-center">
    <img src="{% static 'assets/sumit.jpg' %}"  alt="Sumit" class="developer-img">
    <div>
      <h5>Sumit Darshandhari</h5>
      <p><strong>UI/UX & Frontend Developer</strong><br>Focuses on user experience and design.</p>
    </div>
  </div>
</div>

{% block extra_css %}
    <style>
        /* Specific Styles for Home Page */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            font-family: 'Arial', sans-serif;
            background-image: url("{% static 'assets/home-page.png' %}");
        }
        .content {
        flex: 1;
        padding: 60px 20px;
        background: white;
        margin: 30px auto;
        border-radius: 15px;
        max-width: 1000px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }
      h2 {
        font-size: 32px;
        color: #2b6777;
        margin-bottom: 20px;
      }
      .developer-card {
        margin: 10px 0;
        border-radius: 15px;
        background: #b0b6bb;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s;
      }
      .developer-card:hover {
        transform: translateY(-5px);
      }
      .developer-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 15px;
        margin-right:10px;
      }
      /* Responsive Styling */
      @media (max-width: 768px) {
        h2 {
          font-size: 28px;
        }
      }
    </style>
{% endblock %}
{% endblock content %}
