{% extends 'base.html' %}

{% load static %}

{% block title %}Heart Disease{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <h1>Heart Disease Prediction</h1>
        <p class="text-right">
            <a href="{% url 'heart_disease_help' %}" class="help-link">Learn About Prediction Attributes</a>
        </p>
        <form method="post" action="{% url 'heart_disease_predict' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="age">Age (Years):</label>
                    <input type="number" name="age" id="age" min="1" max="100" class="form-control" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="sex">Sex:</label>
                    <select name="sex" id="sex" class="form-control" required>
                        <option value="" selected disabled>Select gender</option>
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="cp">Chest Pain Type:</label>
                    <select name="cp" id="cp" class="form-control" required>
                        <option value="" selected disabled>Select chest pain type</option>
                        <option value="0">Typical Angina</option>
                        <option value="1">Atypical Angina</option>
                        <option value="2">Non-anginal Pain</option>
                        <option value="3">Asymptomatic</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="trestbps">Resting Blood Pressure[Systolic] (mm Hg) [Range: 50 t0 200 mmHg]:</label>
                    <input type="number" name="trestbps" id="trestbps" min="50" max="200" class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="chol">Cholesterol (mg/dl) [Range: 30 to 500 mg/dL]:</label>
                    <input type="number" name="chol" id="chol" min="30" max="500" class="form-control" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="fbs">Fasting Blood Sugar:</label>
                    <select name="fbs" id="fbs" class="form-control" required>
                        <option value="" selected disabled>Select fasting blood sugar</option>
                        <option value="0">≤ 120 mg/dl</option>
                        <option value="1">> 120 mg/dl</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="restecg">Resting ECG:</label>
                    <select name="restecg" id="restecg" class="form-control" required>
                        <option value="" selected disabled>Select Resting ECG</option>
                        <option value="0">Normal</option>
                        <option value="1">ST-T Wave Abnormality</option>
                        <option value="2">Left Ventricular Hypertrophy</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="thalach">Max Heart Rate Achieved (bpm) [Range: 60 to 250 bpm]:</label>
                    <input type="number" name="thalach" id="thalach" min="60" max="250" class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="exang">Exercise Induced Angina:</label>
                    <select name="exang" id="exang" class="form-control" required>
                        <option value="" selected disabled>Select exercise induced angina</option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="oldpeak">ST Depression Induced by Exercise [Range: 0 to 10 mm]:</label>
                    <input type="number" name="oldpeak" id="oldpeak" step="0.1" min="0" max="10" class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="slope">Slope of the Peak Exercise ST:</label>
                    <select name="slope" id="slope" class="form-control" required>
                        <option value="" selected disabled>Select slope of peak Exercise ST</option>
                        <option value="0">Upsloping</option>
                        <option value="1">Flat</option>
                        <option value="2">Downsloping</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="ca">Number of Major Vessels:</label>
                    <select name="ca" id="ca" class="form-control" required>
                        <option value="" selected disabled>Select number of major vessels</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="thal">Thalassemia:</label>
                    <select name="thal" id="thal" class="form-control" required>
                        <option value="" selected disabled>Select thalassemia</option>
                        <option value="0">Normal</option>
                        <option value="1">Fixed Defect</option>
                        <option value="2">Reversible Defect</option>
                    </select>
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Predict</button>
            </div>
        </form>

        {% if result %}
        <div class="results">
            <h2>Prediction Result</h2>
            <!-- <p><strong>Input Data:</strong> {{ input_data }}</p> -->
            <p><strong>Result:</strong> {{ result }}</p>
        </div>
        {% endif %}
    </div>
</div>

{% block extra_css %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url("{% static 'assets/profile.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .container {
            max-width: 700px;
            background: rgb(231, 235, 220);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            font-weight: bold;
        }
        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .btn-success {
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-success:hover {
            background-color: #218838;
        }
        .help-link {
            text-decoration: none;
            color: #007bff;
        }
        .help-link:hover {
            text-decoration: underline;
            color: #0056b3;
        }
        .results {
            margin-top: 20px;
            padding: 15px;
            background: #e9ecef;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% endblock content %}
