{% extends 'base.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="container content my-4 mt-4">
    <h2 class="text-center">Privacy Policy</h2>
    <p>Effective Date: 10/06/2024</p>
    <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website.</p>
    
    <h4>Information We Collect</h4>
    <p>We may collect information about you in a variety of ways, including:</p>
    <ul>
        <li>Personal Data: Personally identifiable information, such as your name, email address, and phone number.</li>
        <li>Usage Data: Information about how you use our website.</li>
        <li>Cookies: Data files placed on your device to collect information about your browsing activities.</li>
    </ul>
    
    <h4>How We Use Your Information</h4>
    <p>We may use the information we collect in the following ways:</p>
    <ul>
        <li>To personalize user experience.</li>
        <li>To improve our website.</li>
        <li>To send periodic emails.</li>
    </ul>
    
    <h4>Disclosure of Your Information</h4>
    <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties.</p>
    
    <h4>Your Rights</h4>
    <p>You have the right to request access to the personal information we hold about you and to ask for corrections if your information is inaccurate.</p>

    <h4>Changes to This Privacy Policy</h4>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
</div>

{% block extra_css %}
    <style>
        :root{
            --contentbg: rgba(230, 230, 230, 0.9);
          }
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url("{% static 'assets/newbg.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1;
            padding: 60px 20px;
            background: var(--contentbg);
            margin: 30px auto;
            border-radius: 15px;
            max-width: 1000px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            text-align: justify;
        }
        h2 {
            font-size: 32px;
            color: #2b6777;
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            h2 {
                font-size: 28px;
            }
        }
    </style>
{% endblock %}
{% endblock content %}
